<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="normalize.css"/>
		<link rel="stylesheet" type="text/css" href="index.css"/>
		<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	</head>
	<body>
		<div id="app">
			<div id="title">
				<a href="/entry.html">欢迎来到KKY 小商铺</a>
				<!-- <a href="/a">欢迎来到KKY 小商铺</a> -->
			</div>
		</div>
		<script src="jquery-3.6.0.min.js"></script>
		<script src="index.js"></script>
	</body>
</html>
